.technologies {
	padding: 3.5rem 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.element {
		width: 30%;
		margin-bottom: 2.5rem;
		h1 {
			font-size: 3.5vw;
			margin-bottom: 1rem;
		}
		p {
			font-size: 18px;
		}
	}
}