.hero {
	padding: 0 6vw 6vw 6vw;
	position: relative;
	.rings {
		opacity: 1;
		position: absolute;
		top: 7rem;
		left: -7rem;
	}
	.container {
		height: 45rem;
		position: relative;
		width: 100%;
		.navbar {
			position: absolute;
			padding: 3rem 0;
			display: flex;
			justify-content: space-between;
			width: 100%;
			.nickname {
				h3 {
					font-size: 35px;
				}
			}
			.social-media {
				display: flex;
				justify-content: center;
				width: auto;
				a {
					display: flex;
					justify-content: center;
					align-items: center;
					margin-right: 1.5rem;
					transition: all .3s;
					
					img:first-child {
						transition: all .3s;
					}
					img:nth-child(2) {
						display: none;
						transition: all .3s;
					}
					&:hover {
						animation: appearing .3s ease-in-out 0s;
						img:first-child {
							display: none;
						}
						img:nth-child(2) {
							display: inline;
						}
					}
				}	
			}
		}
		.me {
			position: absolute;
			display: flex;
			width: 100%;
			.present {
				position: absolute;
				top: 10rem;
				width: 100%;
				h1 {
					animation: appearing 2s ease-in-out 0s;
					text-shadow: 1px 1px 10px black;
					font-size: 6.5vw;
					width: 70%;
					margin-bottom: 3rem;
					span {
						text-decoration: underline;
						text-decoration-color: var(--dt-decoration);
						text-underline-position: from-font;
					}
				}
				p {
					animation: appearing 3s ease-in-out 0s;
					text-shadow: 1px 1px 10px black;
					width: 40%;
					line-height: 2rem;
					font-size: 18px;
					margin-bottom: 5rem;
				}
				.contact-me {
					animation: appearing 4s ease-in-out 0s;
					position: relative;
					button {
						font-size: 18px;
						padding: .8rem 0;
						letter-spacing: 2px;
						text-transform: uppercase;
						border: none;
						background-color: transparent;
						color: var(--dt-text);
						border-bottom: 1px solid var(--dt-decoration);
						transition: all .3s;
						cursor: pointer;
						&:hover {
							color: var(--dt-decoration);
							border-bottom: 1px solid var(--dt-text);
							animation: selected .5s ease-in-out 0s initial backwards;
						}
					}
				}
			}
			.image {
				z-index: -1;
				right: 0;
				position: absolute;
				display: flex;
				justify-content: flex-end;
				animation: imageHero 1.2s ease-in-out 0s;
				img {
					width: 70%;
				}
			}
		}
	}	
}

@media screen and (max-width: 1080px) {
	.hero {
		padding: 0 0 4vw 4vw;
		.rings {
			top: 5rem;
			left: -12rem;
		}
		.container {
			height: 87vw;
			.navbar {
				padding: 1.5rem 0;
			}
			.me {
				.present {
					top: 6.5rem;
					h1 {
						font-size: 7.5vw;
						width: 60vw;
						margin-bottom: 4vw;
					}
					p {
						width: 60vw;
						line-height: 2rem;
						font-size: 18px;
						margin-bottom: 4vw;
					}
				}
				.image {
					width: 73vw;
				}
			}
		}
	}
}

@media screen and (max-width: 680px) {
	.hero {
		padding: 0 4vw;
		.rings {
			top: 10rem;
			left: -14rem;
			z-index: -1;
		}
		.container {
			height: 190vw;
			min-height: 52rem;
			.navbar {
				flex-wrap: wrap;
				padding: 0;
				.nickname{
					width: 100%;
					text-align: center;
					margin: 2rem 0 3rem 0;
					h3 {
						font-size: 35px;
					}
				}
				.social-media {
					width: 100%;
					margin-bottom: 3.5rem;
					a:not(:last-child) {
						margin-right: 1.5rem;
					}
					a:last-child {
						margin-right: 0;
					}

				}
			}
			.me {
				margin-top: 7rem;
				.present {
					top: 100vw;
					text-align: center;
					h1 {
						width: 100%;
						font-size: 9.5vw;
					}
					p {
						width: 100%;
						font-size: 4vw;
					}
				}
				.image {
					width: 100%;
					justify-content: center;
					img {
						width: 60%;
					}
				}
			}
			
		}
	}
}

@keyframes selected {
	0% {
		color: var(--dt-text);
		border-bottom: 1px solid var(--dt-decoration);
	}
	100% {
		color: var(--dt-decoration);
		border-bottom: 1px solid  var(--dt-text);
	}
}

@keyframes toRight {
	0% {
		opacity: 0;
		left: -17rem;
	}

	100% {
		opacity: 1;
		left: -7rem;
	}
}

@keyframes appearing {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes imageHero {
	0% {
		opacity: 0;
		scale: 0;
		transform: translateY(20rem);
	}

	100% {
		opacity: 1;
		scale: 100%;
		transform: translateY(0);
	}
}