.contact {
	width: 100%;
	background-color: #242424;
	display: flex;
	flex-wrap: wrap;
	padding: 3rem 6vw 0 6vw;
	position: relative;
	.rings {
		position: absolute;
		top: 16rem;
		left: -5vw;
	}
	.description {
		width: 50%;
		min-height: 22rem;
		margin-bottom: 5rem;
		h1 {
			font-size: 6.5vw;
			margin-bottom: 2rem;
		}
		p {
			font-size: 18px;
			margin-right: 8vw;
		}
	}
	.form {
		width: 50%;
		min-height: 22rem;
		margin-bottom: 5rem;
		form {
			margin-left: 8vw;
			input, textarea {
				margin-bottom: 1.5rem;
				font-size: 16px;
				color: var(--dt-text);
				padding: 0 1rem;
				width: 100%;
				background-color: transparent;
				border: none;
				border-bottom: 1px solid var(--dt-text);
			}
			input {			
				height: 3rem;
				&::placeholder {
					text-transform: uppercase;
					font-size: 16px;
				}
			}
			textarea {
				padding: .5rem 1rem;
				font-size: 19px;
				height: 8rem;
				&::placeholder {
					text-transform: uppercase;
					font-size: 18px;
				}
			}
			.form-submit {
				display: flex;
				justify-content: flex-end;
				margin-bottom: 2rem;
				button {
					font-size: 18px;
					padding: .8rem 0;
					letter-spacing: 2px;
					text-transform: uppercase;
					border: none;
					background-color: transparent;
					color: var(--dt-text);
					border-bottom: 1px solid var(--dt-decoration);
					transition: all .3s;
					cursor: pointer;
					&:hover {
						color: var(--dt-decoration);
					}
					&:disabled {
						opacity: .8;
						color: var(--dt-decoration);
					}
				}
			}
			
		}
	}
	.footer {
		padding: 2rem 0;
		display: flex;
		justify-content: space-between;
		width: 100%;
		border-top: 1px solid var(--dt-text);
		.nickname {
			h3 {
				font-size: 35px;
			}
		}
		.social-media {
			display: flex;
			justify-content: center;
			width: auto;
			a {
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all .3s;
				
				img {
					transition: all .3s;
					cursor: pointer;
				}
				img:hover {
					color: var(--dt-decoration)
				}
				img:first-child {
					transition: all .3s;
				}
				img:nth-child(2) {
					display: none;
					transition: all .3s;
				}
				&:not(:last-child) {
					margin-right: 1.5rem;
				}
				&:hover {
					img:first-child {
						display: none;
					}
					img:nth-child(2) {
						display: inline;
					}
				}
			}
			
		}
	}
}

@media screen and (max-width: 1080px) {
	.contact {
		.rings {
			top: 33rem;
			left: -15rem;
		}
		.description {
			text-align: center;
			width: 100%;
			padding: 0 12vw;
			min-height: auto;
			margin-bottom: 3rem;
			h1 {
				font-size: 8vw;
				margin-bottom: 1.5rem;
			}
			p {
				margin: 0;
			}
		}
		.form {
			width: 100%;
			padding: 0 12vw;
			margin-bottom: 3rem;
			form {
				margin: 0;
			}

		}
		.footer {
			padding: 1rem 0;
		}
	}
}

@media screen and (max-width: 680px) {
	.contact {
		.rings {
			top: 28rem;
			left: -15rem;
		}
		.description {
			padding: 0;
			h1 {
				font-size: 10vw;
			}
		}
		.form {
			padding: 0;
		}
		.footer {
			flex-wrap: wrap;
			.nickname{
				width: 100%;
				text-align: center;
				margin: 2rem 0;
				h3 {
					font-size: 35px;
				}
			}
			.social-media {
				width: 100%;
				margin-bottom: 3.5rem;
				a:not(:last-child) {
					margin-right: 1.5rem;
				}
				a:last-child {
					margin-right: 0;
				}
			}
		}
	}
}