*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('./fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SpaceGrotesk', sans-serif;
  background-color: #151515;
  color: white;
  padding: 0 6vw;
}