*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('./fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SpaceGrotesk', sans-serif;
  background-color: #151515;
  color: white;
}

.movement {
	view-timeline-name: --reveal;
	animation-name: show;
	animation-fill-mode: both;
	animation-timeline: --reveal;
	animation-range: entry 25% cover 50%;
}

@keyframes show {
	from {
		opacity: 0;
		scale: 10%;
	}

	to {
		opacity: 1;
		scale: 100%;
	}
}