:root {
	// Dark Theme
	--dt-text: #ffffff;
	--dt-decoration: #4EE1A0;
	// Light Theme
	--lt-text: #292929;
	--lt-decoration: #34966a;

	--error: #bb0000;

}

.Modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  
  .ModalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
  }

.modal-success, .modal-error {
	border-radius: 0;
	padding: 2rem;
	background-color: #151515;
	color: var(--dt-text);
	display: flex;
	justify-content: center;
	width: 20rem;
	flex-wrap: wrap;
	text-align: center;
	h2 {
		width: 100%;
		margin-bottom: 2rem;
	}
	p {
		width: 100%;
	}
	button {
		margin-top: 2rem;
		font-size: 16px;
		padding: .8rem 0;
		letter-spacing: 2px;
		text-transform: uppercase;
		border: none;
		background-color: transparent;
		color: var(--dt-text);
		transition: all .3s;
		cursor: pointer;
	}
}

.modal-success {
	border: 1px solid var(--dt-decoration);
	button {
		border-bottom: 1px solid var(--dt-decoration);
		&:hover {
			color: var(--dt-decoration);
		}
	}
}

.modal-error {
	border: 1px solid var(--error);
	button {
		border-bottom: 1px solid var(--error);
		&:hover {
			color: var(--error);
		}
	}
}